@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-indigo-50: #e5f5fc;
  --color-indigo-100: #ccebf9;
  --color-indigo-200: #99d7f3;
  --color-indigo-300: #66c3ed;
  --color-indigo-400: #33afe7;
  --color-indigo-500: #009BDB;
  --color-indigo-600: #007caf;
  --color-indigo-700: #005d83;
  --color-indigo-800: #003e57;
  --color-indigo-900: #001f2b;
}

/* Custom Scrollbar Styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 16px 0; /* Prevents track from hitting rounded corners top/bottom */
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box; /* Pushes thumb inward away from edge */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #334155; /* slate-700 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* slate-600 */
}

/* Utility to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Safe Area Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.pt-safe {
  padding-top: env(safe-area-inset-top);
}
